@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";

    var currentPage = 1;
}

<div>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Result.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps.Result)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
        
        <div class="navigation">
            @if (currentPage > 1)
            {
                <a href="/page/@(currentPage - 1)">« Prev</a>
            }
            <a href="/page/@(currentPage + 1)">Next »</a>
            <a href="/">Home</a>
        </div>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
