@page "/register"
@model Chirp.Web.Pages.RegisterModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";

    var currentPage = 1;
}

<h2>Register</h2>

<div class="page">
    <div class="body">
        <form method="post">
            <label for="username">Username:</label><br />
            <input type="text" id="username" name="username" required /><br />

            <label for="password">Password:</label><br />
            <input type="password" id="password" name="password" required /><br />

            <input type="submit" value="Register" />
        </form>
    </div>
</div>